# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\soelm\Desktop\Repositories\FabricBesuBenchmark\Hyperledger-Fabric2-0-configurator\chaincodes\java\privex\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
